/* Prevent the page from becoming too wide. */
body {
  max-width: 600px;
}

/* Remove bullet points from navigation bar. */
nav ul {
  list-style-type: none;
  padding-left: 0;
}

/* Keep navigation menu on one line. */
nav li {
  display: inline-block;
  margin-right: 10px;
}
